{{define "content"}}
  <h1>ADCPS</h1>

    <ul class="list-group">
    {{range .Data}}
      <li class="list-group-item">
          <h4 class="list-group-item-heading">{{.SerialNumber}}</h4>
          <p>{{.Customer}}</br>
          {{.OrderNumber}}</p>
        <a href="adcp/update/{{.SerialNumber}}" class="btn btn-warning">EDIT</a>
        <a href="adcp/cert/{{.SerialNumber}}" class="btn btn-info">CERT</a></br>
        <small>{{.Created}}</small>
      </li>
    {{end}}
  </ul>
{{end}}
