{{define "content"}}
  <h1>RMAs</h1>

    <ul class="list-group">
      <form action="/rma" method="post" role="form" class="navbar-form">
        <div class="form-group">
          <input type="text" class="form-control" name="PartialRmaNumber" placeholder="filter RMAs">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

    {{range .RMA}}
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-4">
            <h4 class="list-group-item-heading">{{.RmaNumber}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            {{.Company}}
          </div>
          <div class="col-md-2">
            {{.RmaDate}}
          </div>
          <div class="col-md-2">
            <h4>{{.Status}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <a href="rma/update/{{.RmaNumber}}" class="btn btn-warning">EDIT</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <small>{{.Modified}}</small>
          </div>
        </div>
      </li>
    {{end}}
  </ul>
{{end}}
