{{define "content"}}

<style type="text/css">
textarea {
    min-width: 300px;
    min-height: 200px;
    width: 700px;
    height: 700px
}
</style>

<script>
  $(function() { $( "#datepicker" ).datepicker(); });
  $(function() { $( "#datepicker1" ).datepicker(); });
  $(function() { $( "#datepicker2" ).datepicker(); });
  $(function() { $( "#datepicker3" ).datepicker(); });
  $(function() { $( "#datepicker4" ).datepicker(); });
</script>

<div class="page-header">
  <h1>Update RMA</h1>
</div>
<form action="/rma/update/{{.RMA.RmaNumber}}" method="post">

  <!--RMA-->
  <div class="row" style="margin: 5px">
    <div class="panel panel-info">
      <div class="panel-heading">RMA Information</div>
      <div class="panel-body">
        <div class="row" style="margin: 5px">
          <div class="col-md-2">
            <label class="control-label" for="RmaNumber">RMA Number</label>
          </div>
          <div class="col-md-9">
            <select name="RmaType" selected="{{.RMA.RmaType}}">
              {{range .RmaTypeList}}
                <option value="{{.Value}}" {{if eq .Selected true}}selected="selected"{{end}}>{{.Text}}</option>
              {{end}}
            </select>
            <input type="text" name="RmaNumber" value="{{.RMA.RmaNumber}}" class="form-control" placeholder="RMA Number" required>
          </div>
        </div>
        <div class="row" sytle="margin: 5px">
          <div class="col-md-2">
            <label class="control-label" for="RmaDate">Date</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="RmaDate" value="{{.RMA.RmaDate}}" id="datepicker3" class="form-control" placeholder="RMA Date" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="Status">Status</label>
          </div>
          <div class="col-md-2">
            <select name="Status">
              {{range .StatusList}}
                <option value="{{.Value}}" {{if eq .Selected true}}selected="selected"{{end}}>{{.Text}}</option>
              {{end}}
            </select>
          </div>
        </div>
        <div class="row" sytle="margin: 5px">
          <div class="col-md-2">
            <label class="control-label" for="OrigSalesOrder">Original Sales Order</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="OrigSalesOrder" value="{{.RMA.OrigSalesOrder}}" class="form-control" placeholder="Original SalesOrder" >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Customer-->
  <div class="row" style="margin: 5px">
    <div class="panel panel-primary">
      <div class="panel-heading">Customer Contact Information</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="Company">Company</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="Company" value="{{.RMA.Company}}" class="form-control" placeholder="Company" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="ContactName">Contact Name</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="ContactName" value="{{.RMA.ContactName}}" class="form-control" placeholder="Contact Name" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="ContactAddress">Contact Address 1</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="ContactAddress" value="{{.RMA.ContactAddress}}" class="form-control" placeholder="Contact Address 1" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="ContactAddress2">Contact Address 2</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="ContactAddress2" value="{{.RMA.ContactAddress2}}" class="form-control" placeholder="Contact Address 2" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="ContactAddressCityStateZip">City, State, Zip</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="ContactAddressCityStateZip" value="{{.RMA.ContactAddressCityStateZip}}" class="form-control" placeholder="City, State, Zip" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="ContactAddressCountry">Country</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="ContactAddressCountry" value="{{.RMA.ContactAddressCountry}}" class="form-control" placeholder="Country" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="ContactEmail">Contact Email</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="ContactEmail" value="{{.RMA.ContactEmail}}" class="form-control" placeholder="Contact Email" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="ContactPhone">Contact Phone</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="ContactPhone" value="{{.RMA.ContactPhone}}" class="form-control" placeholder="Contact Phone" >
          </div>
        </div>
        <!--div class="row">
          <div class="col-md-2">
            <label class="control-label" for="ProductDesc">Product Name</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="ProductDesc" value="{{.RMA.ProductDesc}}" class="form-control" placeholder="Product Name" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="SerialNumber">Product S/N</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="SerialNumber" value="{{.RMA.SerialNumber}}" class="form-control" placeholder="Product SerialNumber" >
          </div>
        </div-->
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="ReasonReturn">Reason for Return</label>
          </div>
          <div class="col-md-9">
            <textarea name="ReasonReturn" value="{{.RMA.ReasonReturn}}" class="form-control" rows="3" placeholder="Reason for returning">{{.RMA.ReasonReturn}}</textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Return Shipping-->
  <div class="row" style="margin: 5px">
    <div class="panel panel-primary">
      <div class="panel-heading">Return Shipping Information</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="ReturnCompany">Company</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="ReturnCompany" value="{{.RMA.ReturnCompany}}" class="form-control" placeholder="Company">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="ReturnContact">Contact Name</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="ReturnContact" value="{{.RMA.ReturnContact}}" class="form-control" placeholder="Contact Name" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="ReturnAddress">Contact Address 1</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="ReturnAddress" value="{{.RMA.ReturnAddress}}" class="form-control" placeholder="Contact Address 1" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="ReturnAddressCont">Contact Address 2</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="ReturnAddressCont" value="{{.RMA.ReturnAddressCont}}" class="form-control" placeholder="Contact Address 2" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="ReturnAddressCityStateZip">City, State, Zip</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="ReturnAddressCityStateZip" value="{{.RMA.ReturnAddressCityStateZip}}" class="form-control" placeholder="City, State, Zip" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="ReturnAddressCountry">Country</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="ReturnAddressCountry" value="{{.RMA.ReturnAddressCountry}}" class="form-control" placeholder="Country" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="ReturnEmail">Contact Email</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="ReturnEmail" value="{{.RMA.ReturnEmail}}" class="form-control" placeholder="Contact Email" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="ReturnPhone">Contact Phone</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="ReturnPhone" value="{{.RMA.ReturnPhone}}" class="form-control" placeholder="Contact Phone" >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Receive Info-->
  <div class="row" style="margin: 5px">
    <div class="panel panel-info">
      <div class="panel-heading">Receive Information</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="ReceiveDate">Date Received</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="ReceiveDate" id="datepicker" value="{{.RMA.ReceiveDate}}" class="form-control" placeholder="Date Received">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="ReceiveUser">Received by</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="ReceiveUser" value="{{.RMA.ReceiveUser}}" class="form-control" placeholder="Received By" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="ReceiveInfo">Receive Info</label>
          </div>
          <div class="col-md-9">
            <textarea name="ReceiveInfo" value="{{.RMA.ReceiveInfo}}" class="form-control" rows="3" placeholder="Receive Information">{{.RMA.ReceiveInfo}}</textarea>
          </div>
        </div>
        <div class="row" style="margin: 5px">
          <table class="table table-bordered table-condensed" style="margin-bottom: 0px">
            <thead>
              <tr>
                <th class="text-center"><h5><strong>Qty</strong></h5></th>
                <th class="text-center"><h5><strong>Part Number</strong></h5></th>
                <th class="text-center"><h5><strong>Serial Number</strong></h5></th>
              </tr>
            </thead>

            <tbody>
              {{range .RMA.Products}}
              <tr>
                <td><input type="text" name="ProductQty" value="{{.Qty}}" class="form-control" placeholder="Qty" ></td>
                <td><input type="text" name="ProductPartNumber" value="{{.PartNumber}}" class="form-control" placeholder="Part Number" ></td>
                <td><input type="text" name="ProductSerialNumber" value="{{.SerialNumber}}" class="form-control" placeholder="Serial Number" ></td>
              </tr>

              {{end}}
            </tbody>
          </table>
        </div>
        <div class="row" style="margin: 5px">
          <div class="panel panel-info">
            <div class="panel-heading">Add Product</div>
            <div class="panel-body">
              <div class="form-group col-md-3">
                <select name="AddProductPartNumber">
                  {{range .ProductList}}
                  <option value="{{.PartNumber}}">{{.PartNumber}}</option>
                  {{end}}
                </select>
              </div>
              <div class="col-md-1">
                <input type="text" name="AddProductQty" class="form-control" placeholder="Qty" >
              </div>
              <div class="col-md-2">
                <input type="text" name="AddProductSerialNumber" class="form-control" placeholder="Serial Number" >
              </div>
              <div class="col-md-2">
                <input type="submit" class="btn btn-default" name="SubmitButton" Value="ADD">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Inspection Info-->
  <div class="row" style="margin: 5px">
    <div class="panel panel-success">
      <div class="panel-heading">Inspection Information</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="InspectionDate">Date Inspected</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="InspectionDate" id="datepicker1" value="{{.RMA.InspectionDate}}" class="form-control" placeholder="Date Inspected">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="InspectionUser">Inspected by</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="InspectionUser" value="{{.RMA.InspectionUser}}" class="form-control" placeholder="Inspected By" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="InspectionInfo">Inspection Info</label>
          </div>
          <div class="col-md-9">
            <textarea name="InspectionInfo" value="{{.RMA.InspectionInfo}}" class="form-control" rows="3" placeholder="Inspection Information">{{.RMA.InspectionInfo}}</textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Repair Info-->
  <div class="row" style="margin: 5px">
    <div class="panel panel-danger">
      <div class="panel-heading">Repair Information</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="RepairDate">Date Repaired</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="RepairDate"  id="datepicker2" value="{{.RMA.RepairDate}}" class="form-control" placeholder="Date Repaired">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="RepairUser">Repaired by</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="RepairUser" value="{{.RMA.RepairUser}}" class="form-control" placeholder="Repaired By" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="RepairInfo">Repair Info</label>
          </div>
          <div class="col-md-9">
            <textarea name="RepairInfo" value="{{.RMA.RepairInfo}}" class="form-control" rows="3" placeholder="Repair Information">{{.RMA.RepairInfo}}</textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="RepairEstHours">Est. Repair Hours</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="RepairEstHours" value="{{.RMA.RepairEstHours}}" class="form-control" placeholder="Estimated Repair Hours" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="Billable">Billable</label>
          </div>
          <div class="col-md-9">
            <select name="Billable">
              {{range .BillableList}}
                <option value="{{.Value}}" {{if eq .Selected true}}selected="selected"{{end}}>{{.Text}}</option>
              {{end}}
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="QuoteNum">Quote Number</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="QuoteNum" value="{{.RMA.QuoteNum}}" class="form-control" placeholder="Quote Number" >
          </div>
        </div>
        <div class="row" style="margin: 5px">
          <table class="table table-bordered table-condensed" style="margin-bottom: 0px">
            <thead>
              <tr>
                <th class="text-center"><h5><strong>Qty</strong></h5></th>
                <th class="text-center"><h5><strong>Part Number</strong></h5></th>
                <th class="text-center"><h5><strong>Serial Number</strong></h5></th>
              </tr>
            </thead>

            <tbody>
              {{range .RMA.RepairProducts}}
              <tr>
                <td><input type="text" name="ProductQty" value="{{.Qty}}" class="form-control" placeholder="Qty" ></td>
                <td><input type="text" name="ProductPartNumber" value="{{.PartNumber}}" class="form-control" placeholder="Part Number" ></td>
                <td><input type="text" name="ProductSerialNumber" value="{{.SerialNumber}}" class="form-control" placeholder="Serial Number" ></td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
        <div class="row" style="margin: 5px">
          <div class="panel panel-info">
            <div class="panel-heading">Add Replaced Products</div>
            <div class="panel-body">
              <div class="form-group col-md-3">
                <select name="AddRepairProductPartNumber">
                  {{range .ProductList}}
                  <option value="{{.PartNumber}}">{{.PartNumber}}</option>
                  {{end}}
                </select>
              </div>
              <div class="col-md-1">
                <input type="text" name="AddRepairProductQty" class="form-control" placeholder="Qty" >
              </div>
              <div class="col-md-2">
                <input type="text" name="AddRepairProductSerialNumber" class="form-control" placeholder="Serial Number" >
              </div>
              <div class="col-md-2">
                <input type="submit" class="btn btn-default" name="SubmitButton" Value="ADD REPAIR">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Ship Date-->
  <div class="row" style="margin: 5px">
    <div class="panel panel-primary">
      <div class="panel-heading">Shipment</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="ShipDate">Ship Date</label>
          </div>
          <div class="col-md-9">
            <input type="text" name="ShipDate"  id="datepicker4" value="{{.RMA.ShipDate}}" class="form-control" placeholder="Ship Date">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Notes-->
  <div class="row" style="margin: 5px">
    <div class="panel panel-primary">
      <div class="panel-heading">Notes</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">
            <label class="control-label" for="Notes">Notes</label>
          </div>
          <div class="col-md-9">
            <textarea name="Notes" value="{{.RMA.Notes}}" class="form-control" rows="30" maxlength="50000" placeholder="Notes">{{.RMA.Notes}}</textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <input type="hidden" name="OriginalRmaNumber" value="{{.RMA.RmaNumber}}">
    <input type="hidden" name="token" value="{{.Token}}">
    <!--input type="submit" name="SubmitButton" value="UpdateButtonClicked" class="btn btn-default"-->
    <input type="submit" class="btn btn-default" name="SubmitButton" Value="Update">
  </div>
</form>
{{end}}
